{% block keoz_check_list %}
    <sw-page class="keoz-checklist-list">
        <template slot="smart-bar-header">
            <h2>{{ $tc('keoz-checklist.general.name') }}</h2>
        </template>

        <template slot="smart-bar-actions">
            <sw-button @click="loadResult">
                {{ $tc('keoz-checklist.button.refresh') }}
            </sw-button>
        </template>

        <template slot="content">
            <sw-data-grid   :dataSource="result"
                            :columns="checklistColumns"
                            :fullPage="true"
                            :showSettings="false"
                            :showSelection="false"
                            :showActions="false"
                            :allowColumnEdit="false"
                            identifier="keoz-checklist-list">

                <template slot="column-status" slot-scope="{ item }">
                    <sw-icon v-if="item.status" name="small-default-checkmark-line-medium" small class="is--active"></sw-icon>
                    <sw-icon v-else-if="item.status === false" name="small-default-x-line-medium" small class="is--inactive"></sw-icon>
                    <sw-icon v-else name="default-badge-info" small class="is--neutral"></sw-icon>
                </template>
            </sw-data-grid>
        </template>

        <template slot="button"></template>
    </sw-page>
{% endblock %}
