{% sw_extends 'administration/index.html.twig' %}

{% block administration_scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/checkList/static/js/KeozChecklist.js') }}" ></script>
{% endblock %}
